<header class="project-header pt-3">
  <div class="container-fluid">
    <a href="{{project.url}}"><strong>{{project.name}}</strong></a>
    <h2 class="project-header-title">{{model.name}}</h2>
    <p class="text-muted">{{model.description}}</p>
  </div>
  <nav class="nav nav-tabs d-flex align-items-stretch px-3">
    <a href="#model-visualize" class="nav-link active" data-toggle="tab">
      Visualize
    </a>
    <a class="nav-link" href="#model-history" data-toggle="tab">
      History
      <span class="project-model-count nav-pill">
        {{model.changes.length}}
      </span>
    </a>
    <a class="nav-link" href="#model-copies" data-toggle="tab">
      Copies
      <span class="project-model-count nav-pill">
        {{model.copies.length}}
      </span>
    </a>
    <a class="nav-link" href="#model-settings" data-toggle="tab">
      Settings
    </a>
    <button class="btn btn-secondary ml-auto mb-2">Copy this Model</button>
  </nav>
</header>
