<div class="col project">
  <a href="/prototype/project" class="link-unstyled card">
    <div class="card-block">
      <div class="project-title text-semibold">{{name}}</div>
      <div class="text-truncate"><small class="text-muted">Updated {{timeago updated_at}} by {{userName updated_by}}</small></div>
    </div>
    <div class="project-image" style="background-image:url('/images/{{image}}')">
    </div>
    <div class="card-block">
      {{#each users}}
        <div class="avatar avatar-small">
          <img src="{{userAvatar this}}" alt="{{userName this}}" />
        </div>
      {{/each}}
    </div>
  </a>
</div>
