<div class="btn-group">
  <button class="btn btn-secondary dropdown-toggle w-100" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    {{> avatar user=user class='avatar-small'}}
    {{#each model.changes}}
      {{#if @last}}
        <img class="icon mx-1" src="{{'app-icon-url'}}" title="{{app}}" data-toggle="tooltip" />
      {{/if}}
    {{/each}}
    Version {{model.changes.length}}
  </button>
  <div class="dropdown-menu pt-0 model-version-dropdown" aria-labelledby="dropdownMenuButton">
    <div class="dropdown-item m-0 bg-faded">
      <input type="text" value="" placeholder="Filter versions&hellip;" class="form-control form-control-sm">
    </div>
    <div class="dropdown-divider mt-0"></div>
    {{#withSort model.changes "updated_at" reverse="true"}}
      <a class="dropdown-item text-nowrap" href="#">
        {{> avatar user=user class='avatar-small'}}
        Version {{this.version}}
        <span class="float-right text-muted small">
          {{timeago this.updated_at}}
          <img class="icon ml-1" src="{{'app-icon-url'}}" title data-toggle="tooltip" />
        </span>
      </a>
    {{/withSort}}
  </div>
</div>
